body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

#main-navbar{
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 2px 10px 0 rgb(0 0 0 / 15%);
  min-width: 415px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 70px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
  /* border: 3px solid green; */
}

.sidebar .activex {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  /* background-color: rgb(241, 5, 136); */
  background: linear-gradient(135deg,rgb(197, 37, 37) 0%, rgb(241, 5, 136) 60%, rgb(120, 67, 161) 100%);
  color: white;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 58px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 240px;
  }
}
